CARS_NODE_PORT=7777
CARS_NODE_SERVER_BASEURL=http://localhost:7777

MYSQL_DATABASE=cars_db
MYSQL_USER=cars_user
MYSQL_PASSWORD=cars_pass
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE_URL=mysql://cars_user:cars_pass@shared-mysql-haproxy.cars-operator-system.svc.cluster.local:3306/cars_db

CARS_PROJECT_DB_MODE=shared
SHARED_DB_NAMESPACE=cars-operator-system
SHARED_MYSQL_ADMIN_URL=mysql://root:CHANGE_ME@shared-mysql-haproxy.cars-operator-system.svc.cluster.local:3306/mysql
SHARED_MYSQL_APP_HOST=shared-mysql-haproxy.cars-operator-system.svc.cluster.local
SHARED_MONGO_ADMIN_URL=mongodb://root:CHANGE_ME@shared-mongo-0.shared-mongo.cars-operator-system.svc.cluster.local:27017,shared-mongo-1.shared-mongo.cars-operator-system.svc.cluster.local:27017/admin?replicaSet=rs0&authSource=admin
SHARED_MONGO_APP_HOSTS=shared-mongo-0.shared-mongo.cars-operator-system.svc.cluster.local:27017,shared-mongo-1.shared-mongo.cars-operator-system.svc.cluster.local:27017
SHARED_MONGO_REPLICA_SET=rs0

MAINNET_PRIVATE_KEY=your-key-here
TESTNET_PRIVATE_KEY=your-key-here
TAAL_API_KEY_MAIN=your-key-here
TAAL_API_KEY_TEST=your-key-here

K3S_TOKEN=cars-token
KUBECONFIG_FILE_PATH=/kubeconfig/kubeconfig.yaml

DOCKER_HOST=tcp://dind:2375
DOCKER_REGISTRY=cars-registry:5000

PROJECT_DEPLOYMENT_DNS_NAME=localhost

PROMETHEUS_URL=http://prometheus.localhost:8081

SENDGRID_API_KEY=your-key-here
SYSTEM_FROM_EMAIL=your@system-from-email.here

CERT_ISSUANCE_EMAIL=your@cert-email.here
